{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Expense Categories</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for expense_category in expense_categories %}
                    <tr>
                        <td>{{ expense_category.name }}</td>
                        <td>{{ expense_category.num_receipts }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No expense categories found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
